
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Overpass:400,600,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* MY STYLES */

/* SETUP STARTS */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* SETUP ENDS */

/* default styles */

/* remove default spacing */
*,
h1{
  padding: 0;
  margin: 0;
}

/* default image styles */
img{
  display: block;
}

/* add default font size */
html{
  font-size: 62.5%;
}

/* remove the list styles */
ul{
  list-style: none;
}

/* remove default button styles */
button{
  border: none;
  background-color: transparent;
}

/* add focus and hover states, change cursor so user knows to click */
button:hover,
button:focus{
  cursor: pointer;
}

/* default body styles */
body{
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
}

/* heading styles */
h1,
h2,
h3,
h4{
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
}

h3{
  font-size: 1.8rem;
}

/* all anchor tags */
a{
  text-decoration: none;
  transition: all 0.5s ease;
  display: inline-block;
}

/* styles for all buttons */
.buttonStyles{
  width: 100%;
  background-color: rgba(233, 217, 193, 0.842);
  color:  rgb(71, 60, 45);
  text-transform: uppercase;
  padding: 20px 0;
}

/* buy and mobile button focus and hover state */
.buyButton:hover,
.buyButton:focus,
.mobile:hover,
.mobile:focus{
  background-color: rgba(247, 238, 224, 0.842);
  color: rgb(145, 132, 115);
}

/* wrapper styles */
.wrapper{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

/* make images take up size of container */
.imgCont img{
  object-fit: cover;
  height: 100%;
  object-position: center;
  width: 100%;
}



/*              HEADER STYLES              */

/* default header styles */
header{
  /* background: rgb(78, 97, 62); */
  background: linear-gradient(to bottom, rgba(78, 97, 62, 0.459), rgba(78, 97, 62, 0.644)), url(./dan-otis-OYFHT4X5isg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 180px 0 180px;
}

/* center the h1 */

header img{
  width: 32%;
  margin: 0 auto;
}

/* make the nav stick to top | add box shadow to seperate from bg */
header nav{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: 15px 0 15px;
  background-color:  white;
  text-align: right;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.521);
}

/* styles for the shopping cart button */
header nav button{
  font-size: 2.8rem;
  color: rgb(61, 77, 48);
  transition: all 0.5s ease;
}

/* add hover and focus */
header nav button:hover,
header nav button:focus{
  color:rgb(207, 200, 189);
}

/* make shopping cart relative */
.shoppingCart {
  position: relative;
}

/* styles for the amount of items in the cart */
.shoppingCart p{
  position: absolute;
  right: 15px;
  font-size: 1rem;
  bottom: -5px;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 50%;
  color: rgb(88, 61, 55);
  background-color: rgb(212, 178, 170);


}


/*              CART STYLES             */

/* overall cart styles */
.cart{
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  background-color: white;
  height: 100%;
  z-index: 20;
  box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.521);
  overflow-y: scroll;
}

/* flex the photo beside items */
.itemInCart{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  position: relative;
}

/* close cart styles */
.closeCart{
  font-size: 4rem;
  padding: 20px 10px;
  margin: 20px 0 10px;
  color: rgb(61, 77, 48);
  transition: all 0.5s ease;
}

/* hover and focus states */
.closeCart:hover,
.closeCart:focus{
  color: rgb(207, 200, 189);
}

/* image container styles */
.itemInCart .imgCont{
  margin-right: 20px;
}

/* make fixed height and width */
.itemInCart .imgCont img{
  height: 200px;
  width: 200px;
}

/* h2 styles */
.cart h2{
  text-align: center;
  font-size: 2.8rem;
}

/* h4 styles */
.cart h4{
  font-size: 1.6rem;
}

/* amount of items in cart styles */
.cart .amountInCart{
  margin-bottom: 30px;
  text-align: center;
}

/* price styles | add border on top */
.cart .price{
  text-align: right;
  border-top: 1px solid rgb(61, 77, 48);
  padding-top: 20px;
  margin: 30px 0 20px;
}

/* remove item from cart button */
.removeFromCart{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.6rem;
  color: rgb(88, 61, 55);
}

/* add hover and focus to the button */
.removeFromCart:hover,
.removeFromCart:focus{
  color: rgb(161, 127, 120);
}

/* buy button styles */
.buyButton{
  text-align: center;
  font-style: 2.4rem;
  margin-bottom: 30px;
}

/*              SIDE NAV STYLES          */

/* change width of side nav */
.sideNav{
  width: 15%;
}

/* change size of h2 */
.sideNav h2{
  font-size: 2.4rem;
}

/* button styles */
.sideNav button{
  font-size: 1.6rem;
  padding: 5px 0;
  margin: 5px 0;
  text-transform: lowercase;
  transition: all 0.5s ease;
  font-style: italic;
}

/* add hover and focus styles */
.sideNav button:hover,
.sideNav button:focus{
  color: rgba(168, 154, 132, 0.966);
}


/*                INVENTORY STYLES         */

/* add spacing around the section */
.inventory{
  padding: 80px 0;
}

/* flex the side bar and inventory */
.flexContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

/* change width and make grid for items */
.displayInventory{
  width: 83%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

/* add spacing */
.inventoryItem h3{
  margin: 10px 0;
}

/* make the image containers height all the same */
.inventoryItem .imgCont{
  height: 250px;
  position: relative;
}

/* hide the second add to cart on desktop */
.mobile{
  display: none;
  transition: all 0.5s ease;
}

/* make button relative to image, show up on hover */
.imgCont .addToCart{
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}


/* show the button on hover */
.inventoryItem .imgCont:hover .addToCart,
.inventoryItem .imgCont:focus .addToCart{
  display: block;
}



/* flex the price and the inventory amount beside each other */
.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* styles for the inventory amount */
.inStock{
  color: rgb(88, 61, 55);
  font-size: 1.4rem;
  padding: 2px 10px;
  display: inline-block;
  background-color: rgb(212, 178, 170);
}



/*              FOOTER STYLES          */

/* center the text */
footer{
  padding: 20px 0;
  text-align: center;
}

/* edit the a tag in footer */
footer a{
  color: black;
}

/* add hover and focus states */
footer a:hover,
footer a:focus{
  color: rgb(161, 127, 120);
}



/*                      MEDIA QUERIES                */

@media (max-width: 1024px){

  /*          CART STYLES          */
  /* make larger */
  .cart{
    width: 50%;
  }

  /*          HEADER STYLES        */

  /* make larger */
  header img{
    width: 50%;
  }


  /*          SIDE NAV STYLES        */

  /* flex the items in the  */
  .sideNav{
    margin-bottom: 40px;
    width: 100%;
  }

  /*        INVENTORY STYLES       */

  .inventory{
    padding: 50px 0 80px;
  }
  /* flex the side bar and inventory */
  .flexContainer{
    flex-direction: column;
  }

  /* change width  */
  .displayInventory{
    width: 100%;
  }

}


@media (max-width: 768px){

  /*            CART STYLES                */

  /* change size of the image */
  .itemInCart .imgCont img{
    height: 100px;
    width: 100px;
  }


  /*            INVENTORY STYLES           */

  /* change the grid */
  .displayInventory{
    grid-template-columns: repeat(2, 1fr);
  }

  /* show the second add to cart on mobile */
  .addToCart.addToCart.mobile{
    display: block;
    margin-top: 10px;
  }

  /* remove the button on hover */
  .inventoryItem .imgCont:hover .addToCart,
  .inventoryItem .imgCont:focus .addToCart{
    display: none;
  }

}


@media (max-width: 560px){

  /*            HEADER STYLES        */

  /* change padding */
  header{
    padding: 180px 0 140px;
  }

  /* make larger */
  header img{
    width: 80%;
  }


  /*            CART STYLES        */

  /* make take up whole screen */
  .cart{
    width: 100%;
    height: 100%;
    box-shadow: none;
  }

  /*            INVENTORY STYLES       */
    /* change the grid */
    .displayInventory{
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
    }
    
    /* change image size */
    .inventoryItem .imgCont{
      height: 400px;
    }

}

